<div class="one">
    <h3 align="center" class="two">Library Management</h3>
   </div>
   <div class="five">
    <h2 class="four">About Us :</h2>
   </div>
   
    <p class="six">
         A library management system is an application that is desingned 
         to manage all the functions of a library. It helps librarians to maintains <br>
         the database of new books and the books that are borrowed by members 
         This system completely automates all your library's activities.
        <br>
    
      The basic functions of library management include 
      overseeing all library operations and managing data.
    </p>
          <div class="seven">
          <h2 class="Eight">Contact Us :</h2>
          </div>
      <ul class="nine">
        <li> <strong>Mob &nbsp;&nbsp;:</strong>   +91 ******9689 or +91 ******5799</li>
        <li> <strong>Email :</strong> abc.xyz@gmail.com</li>
        <li> Follow us on Instagram and Facebook</li>
      </ul>
      <img src="assets/images/l2.jpg" class="ten">
      <p class="eleven">
        " To enrich lives and<br>
        communities through<br>
        universal access to <br>
        knowledge, lifelong<br>
        learning and literacy."
      </p>
      <div align="center" class="three">
    <h4 class="twelve">Services</h4>
    </div>

    <div class="thirteen">
  <a routerLink="/add" routerLinkActive="Active" class="nineteen"> Add Your Book</a> 
    </div>
    <div class="eighteen">
    <a routerLink="/update" routerLinkActive="Active" class="nineteen">Update Your Book</a>
  </div>
  <div class="fourteen">
  <a routerLink="/bookstatus" routerLinkActive="Active" class="nineteen">Check Book Status</a>
   </div>
   <div class="fifteen">
  <a routerLink="/search" routerLinkActive="Active" class="nineteen">View Book Status</a>
    </div>
    <div class="sixteen">
  <a routerLink="/checkprice" routerLinkActive="Active" class="nineteen">Check Book Price </a> 
    </div>
    <div class="seventeen">
  <a routerLink="/checkprice1" routerLinkActive="Active" class="nineteen">View Book Price</a>
   </div>
  
  
  
  
  
  
  
  <router-outlet> </router-outlet>
